# Backend
fastapi
uvicorn
python-multipart

# AI Models & Utils
openai-whisper
transformers
indictrans2
coqui-stt
TTS
torchaudio
sentencepiece

# Frontend (if using Streamlit)
streamlit
streamlit-option-menu

# Data Handling
pandas
numpy
sqlite3

# PWA & Deployment
pywebio
requests
